In [2]:
#把基本前置作業該裝的裝好

import pandas as pd
import numpy as np
import math
import csv
import re
import json
import time
from pyspark import SparkContext
from pyspark.sql import SQLContext
import pyspark.sql.functions 
from pyspark.sql import Row
from collections import OrderedDict
from pyspark.sql.functions import *
import pyspark.sql.functions as F
import pyspark.sql.types as T

In [3]:
#額外需要的功能

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [57]:
#Dataframe of Covid-19 dataset

#檔案路徑
#'C://Users//user//Desktop//BigDataFinal//us-counties.csv//us-counties.csv'

#讀取.csv檔案並轉為dataframe
data = sqlContext.read.format('com.databricks.spark.csv').options(header='true', 
inferschema='true').load('C://Users//user//Desktop//BigDataFinal//us-counties.csv//us-counties.csv')

data.show(20)

+----------+-----------+----------+-----+-----+------+
|      date|     county|     state| fips|cases|deaths|
+----------+-----------+----------+-----+-----+------+
|2020-01-21|  Snohomish|Washington|53061|    1|     0|
|2020-01-22|  Snohomish|Washington|53061|    1|     0|
|2020-01-23|  Snohomish|Washington|53061|    1|     0|
|2020-01-24|       Cook|  Illinois|17031|    1|     0|
|2020-01-24|  Snohomish|Washington|53061|    1|     0|
|2020-01-25|     Orange|California| 6059|    1|     0|
|2020-01-25|       Cook|  Illinois|17031|    1|     0|
|2020-01-25|  Snohomish|Washington|53061|    1|     0|
|2020-01-26|   Maricopa|   Arizona| 4013|    1|     0|
|2020-01-26|Los Angeles|California| 6037|    1|     0|
|2020-01-26|     Orange|California| 6059|    1|     0|
|2020-01-26|       Cook|  Illinois|17031|    1|     0|
|2020-01-26|  Snohomish|Washington|53061|    1|     0|
|2020-01-27|   Maricopa|   Arizona| 4013|    1|     0|
|2020-01-27|Los Angeles|California| 6037|    1|     0|
|2020-01-27|     Orange|California| 6059|    1|     0|
|2020-01-27|       Cook|  Illinois|17031|    1|     0|
|2020-01-27|  Snohomish|Washington|53061|    1|     0|
|2020-01-28|   Maricopa|   Arizona| 4013|    1|     0|
|2020-01-28|Los Angeles|California| 6037|    1|     0|
+----------+-----------+----------+-----+-----+------+
only showing top 20 rows

In [4]:
#用pandas看資料
pdf = pd.read_csv('C://Users//user//Desktop//BigDataFinal//us-counties.csv//us-counties.csv')
pdf.head(20)

          date       county       state     fips  cases  deaths
0   2020-01-21    Snohomish  Washington  53061.0      1       0
1   2020-01-22    Snohomish  Washington  53061.0      1       0
2   2020-01-23    Snohomish  Washington  53061.0      1       0
3   2020-01-24         Cook    Illinois  17031.0      1       0
4   2020-01-24    Snohomish  Washington  53061.0      1       0
5   2020-01-25       Orange  California   6059.0      1       0
6   2020-01-25         Cook    Illinois  17031.0      1       0
7   2020-01-25    Snohomish  Washington  53061.0      1       0
8   2020-01-26     Maricopa     Arizona   4013.0      1       0
9   2020-01-26  Los Angeles  California   6037.0      1       0
10  2020-01-26       Orange  California   6059.0      1       0
11  2020-01-26         Cook    Illinois  17031.0      1       0
12  2020-01-26    Snohomish  Washington  53061.0      1       0
13  2020-01-27     Maricopa     Arizona   4013.0      1       0
14  2020-01-27  Los Angeles  California   6037.0      1       0
15  2020-01-27       Orange  California   6059.0      1       0
16  2020-01-27         Cook    Illinois  17031.0      1       0
17  2020-01-27    Snohomish  Washington  53061.0      1       0
18  2020-01-28     Maricopa     Arizona   4013.0      1       0
19  2020-01-28  Los Angeles  California   6037.0      1       0

In [5]:
#data.registerTempTable('covid_data')

In [5]:
data.printSchema()

root
 |-- date: string (nullable = true)
 |-- county: string (nullable = true)
 |-- state: string (nullable = true)
 |-- fips: integer (nullable = true)
 |-- cases: integer (nullable = true)
 |-- deaths: integer (nullable = true)

In [6]:
#dataframe的總資料量(row)
data.count()

78548

In [58]:
#最後一天為4/21
latest = data.agg(F.max('date').alias('max_data'))
latest.show()

type(latest)

+----------+
|  max_data|
+----------+
|2020-04-21|
+----------+

pyspark.sql.dataframe.DataFrame

In [59]:
#使用data.filter(data[" "] == " ")來過濾出特定日期

#過濾出最後一天(2020/4/21)並show出來
data_filtered = data.filter(data["date"] == "2020-04-21")
data_filtered.show(5)

#2020/4/21當天的資料量
data_filtered.count()

+----------+-------+-------+----+-----+------+
|      date| county|  state|fips|cases|deaths|
+----------+-------+-------+----+-----+------+
|2020-04-21|Autauga|Alabama|1001|   30|     1|
|2020-04-21|Baldwin|Alabama|1003|  123|     3|
|2020-04-21|Barbour|Alabama|1005|   28|     0|
|2020-04-21|   Bibb|Alabama|1007|   32|     0|
|2020-04-21| Blount|Alabama|1009|   26|     0|
+----------+-------+-------+----+-----+------+
only showing top 5 rows

2783

In [62]:
#Group & Aggregation

#統計所有dataframe的數據資料

#總共的數據
overall_stats = data.agg(
    F.sum("cases").alias("total_cases"), #總計所有的cases
    F.sum("deaths").alias("total_deaths"), #總計所有的deaths
    F.count("*").alias("number_of_records"), # 總計dataset中所有的records數量
    F.countDistinct("county").alias("number_of_counties"), #總計counties的數量
    F.countDistinct("state").alias("number_of_states") #總計states的數量
)
overall_stats.show()

#單日(4/21)的數據
overall_stats_0421 = data_filtered.agg(
    F.sum("cases").alias("2020/04/21_cases"), 
    F.sum("deaths").alias("2020/04/21_deaths"), 
    F.count("*").alias("2020/04/21_number_of_records"), 
    F.countDistinct("county").alias("2020/04/21_number_of_counties"), 
    F.countDistinct("state").alias("2020/04/21_number_of_states")
)
overall_stats_0421.show(1, False)

+-----------+------------+-----------------+------------------+----------------+
|total_cases|total_deaths|number_of_records|number_of_counties|number_of_states|
+-----------+------------+-----------------+------------------+----------------+
|   11976472|      462057|            78548|              1659|              55|
+-----------+------------+-----------------+------------------+----------------+

+----------------+-----------------+----------------------------+-----------------------------+---------------------------+
|2020/04/21_cases|2020/04/21_deaths|2020/04/21_number_of_records|2020/04/21_number_of_counties|2020/04/21_number_of_states|
+----------------+-----------------+----------------------------+-----------------------------+---------------------------+
|805770          |40315            |2783                        |1653                         |55                         |
+----------------+-----------------+----------------------------+-----------------------------+---------------------------+

In [63]:
#以2021/4/21為例子
#由案例的多至少來排序

data_filtered.orderBy(desc("cases")).show(10, False)

+----------+-------------+----------+-----+------+------+
|date      |county       |state     |fips |cases |deaths|
+----------+-------------+----------+-----+------+------+
|2020-04-21|New York City|New York  |null |139335|10301 |
|2020-04-21|Nassau       |New York  |36059|31079 |1717  |
|2020-04-21|Suffolk      |New York  |36103|28154 |918   |
|2020-04-21|Westchester  |New York  |36119|24655 |904   |
|2020-04-21|Cook         |Illinois  |17031|23181 |1002  |
|2020-04-21|Los Angeles  |California|6037 |15140 |663   |
|2020-04-21|Wayne        |Michigan  |26163|14255 |1278  |
|2020-04-21|Bergen       |New Jersey|34003|13356 |835   |
|2020-04-21|Hudson       |New Jersey|34017|11636 |525   |
|2020-04-21|Essex        |New Jersey|34013|11128 |849   |
+----------+-------------+----------+-----+------+------+
only showing top 10 rows

In [77]:
#2020/4/21的資料
#Grouping data at 'county' level,可看到當日的每個郡的統計數據資料

county_summary = data_filtered.groupBy("county").agg(
    F.sum("cases").alias("total_cases"),
    F.sum("deaths").alias("total_deaths"),
    F.count("*").alias("number_of_records"),
    F.countDistinct("state").alias("number_of_states")
)

#以'county'做少至多的排序(alphabetical order)
county_summary.orderBy("county").show(10, False)

+---------+-----------+------------+-----------------+----------------+
|county   |total_cases|total_deaths|number_of_records|number_of_states|
+---------+-----------+------------+-----------------+----------------+
|Abbeville|18         |0           |1                |1               |
|Acadia   |114        |7           |1                |1               |
|Accomack |52         |1           |1                |1               |
|Ada      |589        |12          |1                |1               |
|Adair    |113        |7           |4                |4               |
|Adams    |1368       |57          |10               |10              |
|Addison  |61         |2           |1                |1               |
|Aiken    |70         |4           |1                |1               |
|Aitkin   |1          |0           |1                |1               |
|Alachua  |224        |1           |1                |1               |
+---------+-----------+------------+-----------------+----------------+
only showing top 10 rows

In [ ]:
#Join的部分
#感覺都是練習而已不確定要不要講

In [68]:
# filter data for county - Adair & Addison and prepare our left_table
left_table = county_summary.where(
    "county in ('Adair', 'Addison')"
)
left_table.show(5, False)

+-------+-----------+------------+-----------------+----------------+
|county |total_cases|total_deaths|number_of_records|number_of_states|
+-------+-----------+------------+-----------------+----------------+
|Adair  |113        |7           |4                |4               |
|Addison|61         |2           |1                |1               |
+-------+-----------+------------+-----------------+----------------+

In [69]:
# filter data for county - Ada & Accomack and prepare our right_table
right_table = county_summary.where(
    "county in ('Ada', 'Accomack')"
)
right_table.show(5, False)

+--------+-----------+------------+-----------------+----------------+
|county  |total_cases|total_deaths|number_of_records|number_of_states|
+--------+-----------+------------+-----------------+----------------+
|Accomack|52         |1           |1                |1               |
|Ada     |589        |12          |1                |1               |
+--------+-----------+------------+-----------------+----------------+

In [70]:
# applying inner join
# county_summary contains all the counties and their statistics
inner_table = county_summary.join(
    left_table,
    on=["county"],
    how="inner"
)

inner_table.show(100, False)

+-------+-----------+------------+-----------------+----------------+-----------+------------+-----------------+----------------+
|county |total_cases|total_deaths|number_of_records|number_of_states|total_cases|total_deaths|number_of_records|number_of_states|
+-------+-----------+------------+-----------------+----------------+-----------+------------+-----------------+----------------+
|Adair  |113        |7           |4                |4               |113        |7           |4                |4               |
|Addison|61         |2           |1                |1               |61         |2           |1                |1               |
+-------+-----------+------------+-----------------+----------------+-----------+------------+-----------------+----------------+

In [71]:
# applying left join
left_table_joined = left_table.join(
    right_table,
    on=["county"],
    how="left"
)

left_table_joined.show(100, False)

+-------+-----------+------------+-----------------+----------------+-----------+------------+-----------------+----------------+
|county |total_cases|total_deaths|number_of_records|number_of_states|total_cases|total_deaths|number_of_records|number_of_states|
+-------+-----------+------------+-----------------+----------------+-----------+------------+-----------------+----------------+
|Adair  |113        |7           |4                |4               |null       |null        |null             |null            |
|Addison|61         |2           |1                |1               |null       |null        |null             |null            |
+-------+-----------+------------+-----------------+----------------+-----------+------------+-----------------+----------------+

In [72]:
# applying right join
right_table_joined = left_table.join(
    right_table,
    on=["county"],
    how="right"
)

right_table_joined.show(100, False)

+--------+-----------+------------+-----------------+----------------+-----------+------------+-----------------+----------------+
|county  |total_cases|total_deaths|number_of_records|number_of_states|total_cases|total_deaths|number_of_records|number_of_states|
+--------+-----------+------------+-----------------+----------------+-----------+------------+-----------------+----------------+
|Accomack|null       |null        |null             |null            |52         |1           |1                |1               |
|Ada     |null       |null        |null             |null            |589        |12          |1                |1               |
+--------+-----------+------------+-----------------+----------------+-----------+------------+-----------------+----------------+

In [73]:
# applying outer join or full join
outer_table_joined = left_table.join(
    right_table,
    on=["county"],
    how="outer"
)

outer_table_joined.show(100, False)

+--------+-----------+------------+-----------------+----------------+-----------+------------+-----------------+----------------+
|county  |total_cases|total_deaths|number_of_records|number_of_states|total_cases|total_deaths|number_of_records|number_of_states|
+--------+-----------+------------+-----------------+----------------+-----------+------------+-----------------+----------------+
|Accomack|null       |null        |null             |null            |52         |1           |1                |1               |
|Adair   |113        |7           |4                |4               |null       |null        |null             |null            |
|Ada     |null       |null        |null             |null            |589        |12          |1                |1               |
|Addison |61         |2           |1                |1               |null       |null        |null             |null            |
+--------+-----------+------------+-----------------+----------------+-----------+------------+-----------------+----------------+

In [74]:
# get percentage # of cases for each state in Adair
# filter data for county - Adair
adir_overall = county_summary.where(
    "county in ('Adair')"
)
adir_overall.show(5, False)

+------+-----------+------------+-----------------+----------------+
|county|total_cases|total_deaths|number_of_records|number_of_states|
+------+-----------+------------+-----------------+----------------+
|Adair |113        |7           |4                |4               |
+------+-----------+------------+-----------------+----------------+

In [75]:
# join the Adair summary to its states
perc_cases_statewise = data_filtered.join(
    adir_overall,
    on="county",
    how="inner"
)

perc_cases_statewise.show(10, False)

+------+----------+--------+-----+-----+------+-----------+------------+-----------------+----------------+
|county|date      |state   |fips |cases|deaths|total_cases|total_deaths|number_of_records|number_of_states|
+------+----------+--------+-----+-----+------+-----------+------------+-----------------+----------------+
|Adair |2020-04-21|Iowa    |19001|1    |0     |113        |7           |4                |4               |
|Adair |2020-04-21|Kentucky|21001|53   |4     |113        |7           |4                |4               |
|Adair |2020-04-21|Missouri|29001|12   |0     |113        |7           |4                |4               |
|Adair |2020-04-21|Oklahoma|40001|47   |3     |113        |7           |4                |4               |
+------+----------+--------+-----+-----+------+-----------+------------+-----------------+----------------+

In [76]:
# calculate percentage of cases and deaths
perc_cases_statewise = perc_cases_statewise.withColumn(
    "perc_cases",
    F.col("cases")/F.col("total_cases")
).withColumn(
    "perc_deaths",
    F.col("deaths")/F.col("total_deaths")
)

perc_cases_statewise.show(10, False)

+------+----------+--------+-----+-----+------+-----------+------------+-----------------+----------------+--------------------+-------------------+
|county|date      |state   |fips |cases|deaths|total_cases|total_deaths|number_of_records|number_of_states|perc_cases          |perc_deaths        |
+------+----------+--------+-----+-----+------+-----------+------------+-----------------+----------------+--------------------+-------------------+
|Adair |2020-04-21|Iowa    |19001|1    |0     |113        |7           |4                |4               |0.008849557522123894|0.0                |
|Adair |2020-04-21|Kentucky|21001|53   |4     |113        |7           |4                |4               |0.4690265486725664  |0.5714285714285714 |
|Adair |2020-04-21|Missouri|29001|12   |0     |113        |7           |4                |4               |0.10619469026548672 |0.0                |
|Adair |2020-04-21|Oklahoma|40001|47   |3     |113        |7           |4                |4               |0.415929203539823   |0.42857142857142855|
+------+----------+--------+-----+-----+------+-----------+------------+-----------------+----------------+--------------------+-------------------+

In [ ]:
#parition by & window function
#這部分可以講一下結果

In [78]:
#要藉由 clause 來 apply parition
from pyspark.sql.window import Window

In [79]:
#County 的 grouping data 的 dataframe 的結構長這樣
county_summary.show(2, False)

+--------------+-----------+------------+-----------------+----------------+
|county        |total_cases|total_deaths|number_of_records|number_of_states|
+--------------+-----------+------------+-----------------+----------------+
|Worcester     |3374       |133         |2                |2               |
|East Feliciana|101        |8           |1                |1               |
+--------------+-----------+------------+-----------------+----------------+
only showing top 2 rows

In [80]:
#建立新的 column 以及存取新的 dataframe 作為 'county_summary_ranked'
#使用 withColumn 來建立新的 columns, 其中第一個參數為 'column name'、第二個參數為 'column value'
#'rank' 就是依照 'column value(total_cases)' 做少至多的排序

county_summary_ranked = county_summary.withColumn(
    "rank", # column name
    # rank function assigns a rank starting from 1 and orderBy condition mentions that rank will be based on the column - total_cases
    # by default the sorting is done in ascending order
    F.rank().over(Window.orderBy("total_cases")) 
)

# print out some of the records
county_summary_ranked.show(5, False)

+--------+-----------+------------+-----------------+----------------+----+
|county  |total_cases|total_deaths|number_of_records|number_of_states|rank|
+--------+-----------+------------+-----------------+----------------+----+
|Aitkin  |1          |0           |1                |1               |1   |
|Ferry   |1          |0           |1                |1               |1   |
|Braxton |1          |0           |1                |1               |1   |
|Tensas  |1          |0           |1                |1               |1   |
|Okfuskee|1          |0           |1                |1               |1   |
+--------+-----------+------------+-----------------+----------------+----+
only showing top 5 rows

In [81]:
#'rank_desc' 就是依照 'column value(total_cases)' 做多至少的排序， 跟 'rank'相反

county_summary_ranked = county_summary_ranked.withColumn(
    "rank_desc",
    # if we want high end values to be assigned the lower rank, we sort the data in descending order using F.desc function
    F.rank().over(Window.orderBy(F.desc("total_cases")))
)

# also, let's order the data by total_cases in descending order
county_summary_ranked.orderBy("total_cases", ascending=False).show(5, False)

+-------------+-----------+------------+-----------------+----------------+----+---------+
|county       |total_cases|total_deaths|number_of_records|number_of_states|rank|rank_desc|
+-------------+-----------+------------+-----------------+----------------+----+---------+
|New York City|139335     |10301       |1                |1               |1653|1        |
|Suffolk      |36823      |1203        |2                |2               |1652|2        |
|Nassau       |31125      |1717        |2                |2               |1651|3        |
|Westchester  |24655      |904         |1                |1               |1650|4        |
|Cook         |23194      |1003        |2                |2               |1649|5        |
+-------------+-----------+------------+-----------------+----------------+----+---------+
only showing top 5 rows

In [83]:
#接下來要為每個郡單獨去創建一個州的排名
#使用2020/4/21當天的資料作範例

# to achieve this we will use the state level dataset containing the data for the latest date
data_filtered.show(2, False)

# also, let's check the count
data_filtered.count()

+----------+-------+-------+----+-----+------+
|date      |county |state  |fips|cases|deaths|
+----------+-------+-------+----+-----+------+
|2020-04-21|Autauga|Alabama|1001|30   |1     |
|2020-04-21|Baldwin|Alabama|1003|123  |3     |
+----------+-------+-------+----+-----+------+
only showing top 2 rows

2783

In [85]:
# 建立新的 dataframe 叫做 ranked_states
ranked_states = data_filtered.withColumn(
    "state_rank", #county 名稱重複會累加
    #我們還要來指定 partition(劃分) clause(條款), 來為每個郡分別的創造 rank
    F.rank().over(Window.partitionBy("county").orderBy(F.desc("cases"))) 
)

#Ordered by county & state_rank
ranked_states.orderBy("county", "state_rank").show(30, False)

+----------+---------+--------------+-----+-----+------+----------+
|date      |county   |state         |fips |cases|deaths|state_rank|
+----------+---------+--------------+-----+-----+------+----------+
|2020-04-21|Abbeville|South Carolina|45001|18   |0     |1         |
|2020-04-21|Acadia   |Louisiana     |22001|114  |7     |1         |
|2020-04-21|Accomack |Virginia      |51001|52   |1     |1         |
|2020-04-21|Ada      |Idaho         |16001|589  |12    |1         |
|2020-04-21|Adair    |Kentucky      |21001|53   |4     |1         |
|2020-04-21|Adair    |Oklahoma      |40001|47   |3     |2         |
|2020-04-21|Adair    |Missouri      |29001|12   |0     |3         |
|2020-04-21|Adair    |Iowa          |19001|1    |0     |4         |
|2020-04-21|Adams    |Colorado      |8001 |996  |46    |1         |
|2020-04-21|Adams    |Nebraska      |31001|101  |1     |2         |
|2020-04-21|Adams    |Pennsylvania  |42001|91   |2     |3         |
|2020-04-21|Adams    |Mississippi   |28001|90   |6     |4         |
|2020-04-21|Adams    |Washington    |53001|44   |0     |5         |
|2020-04-21|Adams    |Illinois      |17001|29   |0     |6         |
|2020-04-21|Adams    |Indiana       |18001|7    |1     |7         |
|2020-04-21|Adams    |Wisconsin     |55001|4    |1     |8         |
|2020-04-21|Adams    |Ohio          |39001|3    |0     |9         |
|2020-04-21|Adams    |Idaho         |16003|3    |0     |9         |
|2020-04-21|Addison  |Vermont       |50001|61   |2     |1         |
|2020-04-21|Aiken    |South Carolina|45003|70   |4     |1         |
|2020-04-21|Aitkin   |Minnesota     |27001|1    |0     |1         |
|2020-04-21|Alachua  |Florida       |12001|224  |1     |1         |
|2020-04-21|Alamance |North Carolina|37001|52   |0     |1         |
|2020-04-21|Alameda  |California    |6001 |1260 |43    |1         |
|2020-04-21|Alamosa  |Colorado      |8003 |9    |2     |1         |
|2020-04-21|Albany   |New York      |36001|704  |36    |1         |
|2020-04-21|Albany   |Wyoming       |56001|6    |0     |2         |
|2020-04-21|Albemarle|Virginia      |51003|66   |3     |1         |
|2020-04-21|Alcona   |Michigan      |26001|3    |0     |1         |
|2020-04-21|Alcorn   |Mississippi   |28003|7    |0     |1         |
+----------+---------+--------------+-----+-----+------+----------+
only showing top 30 rows

In [86]:
# now, let's filter out only the top state for each of the county
ranked_states_filtered = ranked_states.filter(
    # since, the top state has been assigned rank-1, we can filter states where state_rank is 1
    "state_rank = 1"
)

# let's check the count which should be equal to the number of counties in the dataset
ranked_states_filtered.count()

1660

In [87]:
# also, let's check the results
ranked_states_filtered.orderBy("county", "state_rank").show(50, False)

+----------+---------------+--------------+-----+-----+------+----------+
|date      |county         |state         |fips |cases|deaths|state_rank|
+----------+---------------+--------------+-----+-----+------+----------+
|2020-04-21|Abbeville      |South Carolina|45001|18   |0     |1         |
|2020-04-21|Acadia         |Louisiana     |22001|114  |7     |1         |
|2020-04-21|Accomack       |Virginia      |51001|52   |1     |1         |
|2020-04-21|Ada            |Idaho         |16001|589  |12    |1         |
|2020-04-21|Adair          |Kentucky      |21001|53   |4     |1         |
|2020-04-21|Adams          |Colorado      |8001 |996  |46    |1         |
|2020-04-21|Addison        |Vermont       |50001|61   |2     |1         |
|2020-04-21|Aiken          |South Carolina|45003|70   |4     |1         |
|2020-04-21|Aitkin         |Minnesota     |27001|1    |0     |1         |
|2020-04-21|Alachua        |Florida       |12001|224  |1     |1         |
|2020-04-21|Alamance       |North Carolina|37001|52   |0     |1         |
|2020-04-21|Alameda        |California    |6001 |1260 |43    |1         |
|2020-04-21|Alamosa        |Colorado      |8003 |9    |2     |1         |
|2020-04-21|Albany         |New York      |36001|704  |36    |1         |
|2020-04-21|Albemarle      |Virginia      |51003|66   |3     |1         |
|2020-04-21|Alcona         |Michigan      |26001|3    |0     |1         |
|2020-04-21|Alcorn         |Mississippi   |28003|7    |0     |1         |
|2020-04-21|Alexander      |North Carolina|37003|3    |0     |1         |
|2020-04-21|Alexandria city|Virginia      |51510|462  |9     |1         |
|2020-04-21|Alfalfa        |Oklahoma      |40003|1    |0     |1         |
|2020-04-21|Allamakee      |Iowa          |19005|44   |3     |1         |
|2020-04-21|Allegan        |Michigan      |26005|47   |0     |1         |
|2020-04-21|Allegany       |Maryland      |24001|56   |2     |1         |
|2020-04-21|Alleghany      |Virginia      |51005|5    |0     |1         |
|2020-04-21|Allegheny      |Pennsylvania  |42003|1059 |67    |1         |
|2020-04-21|Allen          |Indiana       |18003|336  |22    |1         |
|2020-04-21|Allendale      |South Carolina|45005|6    |0     |1         |
|2020-04-21|Alpena         |Michigan      |26007|35   |1     |1         |
|2020-04-21|Alpine         |California    |6003 |1    |0     |1         |
|2020-04-21|Amador         |California    |6005 |7    |0     |1         |
|2020-04-21|Amelia         |Virginia      |51007|15   |1     |1         |
|2020-04-21|Amherst        |Virginia      |51009|10   |1     |1         |
|2020-04-21|Amite          |Mississippi   |28005|18   |0     |1         |
|2020-04-21|Anchorage      |Alaska        |2020 |160  |4     |1         |
|2020-04-21|Anderson       |South Carolina|45007|132  |5     |1         |
|2020-04-21|Andrew         |Missouri      |29003|1    |0     |1         |
|2020-04-21|Andrews        |Texas         |48003|19   |0     |1         |
|2020-04-21|Androscoggin   |Maine         |23001|36   |1     |1         |
|2020-04-21|Angelina       |Texas         |48005|27   |0     |1         |
|2020-04-21|Anne Arundel   |Maryland      |24003|1157 |45    |1         |
|2020-04-21|Anoka          |Minnesota     |27003|97   |2     |1         |
|2020-04-21|Anson          |North Carolina|37007|18   |0     |1         |
|2020-04-21|Antelope       |Nebraska      |31003|1    |0     |1         |
|2020-04-21|Antrim         |Michigan      |26009|9    |0     |1         |
|2020-04-21|Apache         |Arizona       |4001 |226  |5     |1         |
|2020-04-21|Appanoose      |Iowa          |19007|2    |2     |1         |
|2020-04-21|Appling        |Georgia       |13001|21   |1     |1         |
|2020-04-21|Appomattox     |Virginia      |51011|7    |0     |1         |
|2020-04-21|Aransas        |Texas         |48007|2    |0     |1         |
|2020-04-21|Arapahoe       |Colorado      |8005 |1649 |80    |1         |
+----------+---------------+--------------+-----+-----+------+----------+
only showing top 50 rows

In [88]:
# assigning the parition by clause in a variable - w
partition_clause = Window.partitionBy("county")

In [89]:
# let's now get the total, average and maximum county cases across each of their respective states
# we can use .withColumn in a chain format, that is one after the other and all are executed in a sequential order
ranked_states = ranked_states.withColumn(
    "country_total_cases",
    # we will use the parition_clause we created above
    F.sum("cases").over(partition_clause)
).withColumn(
    # here we are calculating the % of cases in a state i.e. state_cases/respective_county_cases
    "perc_total_cases",
    F.col("cases")/F.col("country_total_cases")
).withColumn(
    "country_avg_cases",
    # get county average cases
    F.avg("cases").over(partition_clause)
).withColumn(
    # get county max caaes
    "country_max_cases",
    F.max("cases").over(partition_clause)
)

# now, let's print out the results
ranked_states.orderBy("county", "perc_total_cases").show(50, False)

+----------+---------------+--------------+-----+-----+------+----------+-------------------+---------------------+-----------------+-----------------+
|date      |county         |state         |fips |cases|deaths|state_rank|country_total_cases|perc_total_cases     |country_avg_cases|country_max_cases|
+----------+---------------+--------------+-----+-----+------+----------+-------------------+---------------------+-----------------+-----------------+
|2020-04-21|Abbeville      |South Carolina|45001|18   |0     |1         |18                 |1.0                  |18.0             |18               |
|2020-04-21|Acadia         |Louisiana     |22001|114  |7     |1         |114                |1.0                  |114.0            |114              |
|2020-04-21|Accomack       |Virginia      |51001|52   |1     |1         |52                 |1.0                  |52.0             |52               |
|2020-04-21|Ada            |Idaho         |16001|589  |12    |1         |589                |1.0                  |589.0            |589              |
|2020-04-21|Adair          |Iowa          |19001|1    |0     |4         |113                |0.008849557522123894 |28.25            |53               |
|2020-04-21|Adair          |Missouri      |29001|12   |0     |3         |113                |0.10619469026548672  |28.25            |53               |
|2020-04-21|Adair          |Oklahoma      |40001|47   |3     |2         |113                |0.415929203539823    |28.25            |53               |
|2020-04-21|Adair          |Kentucky      |21001|53   |4     |1         |113                |0.4690265486725664   |28.25            |53               |
|2020-04-21|Adams          |Ohio          |39001|3    |0     |9         |1368               |0.0021929824561403508|136.8            |996              |
|2020-04-21|Adams          |Idaho         |16003|3    |0     |9         |1368               |0.0021929824561403508|136.8            |996              |
|2020-04-21|Adams          |Wisconsin     |55001|4    |1     |8         |1368               |0.0029239766081871343|136.8            |996              |
|2020-04-21|Adams          |Indiana       |18001|7    |1     |7         |1368               |0.005116959064327485 |136.8            |996              |
|2020-04-21|Adams          |Illinois      |17001|29   |0     |6         |1368               |0.021198830409356724 |136.8            |996              |
|2020-04-21|Adams          |Washington    |53001|44   |0     |5         |1368               |0.03216374269005848  |136.8            |996              |
|2020-04-21|Adams          |Mississippi   |28001|90   |6     |4         |1368               |0.06578947368421052  |136.8            |996              |
|2020-04-21|Adams          |Pennsylvania  |42001|91   |2     |3         |1368               |0.06652046783625731  |136.8            |996              |
|2020-04-21|Adams          |Nebraska      |31001|101  |1     |2         |1368               |0.07383040935672515  |136.8            |996              |
|2020-04-21|Adams          |Colorado      |8001 |996  |46    |1         |1368               |0.7280701754385965   |136.8            |996              |
|2020-04-21|Addison        |Vermont       |50001|61   |2     |1         |61                 |1.0                  |61.0             |61               |
|2020-04-21|Aiken          |South Carolina|45003|70   |4     |1         |70                 |1.0                  |70.0             |70               |
|2020-04-21|Aitkin         |Minnesota     |27001|1    |0     |1         |1                  |1.0                  |1.0              |1                |
|2020-04-21|Alachua        |Florida       |12001|224  |1     |1         |224                |1.0                  |224.0            |224              |
|2020-04-21|Alamance       |North Carolina|37001|52   |0     |1         |52                 |1.0                  |52.0             |52               |
|2020-04-21|Alameda        |California    |6001 |1260 |43    |1         |1260               |1.0                  |1260.0           |1260             |
|2020-04-21|Alamosa        |Colorado      |8003 |9    |2     |1         |9                  |1.0                  |9.0              |9                |
|2020-04-21|Albany         |Wyoming       |56001|6    |0     |2         |710                |0.008450704225352112 |355.0            |704              |
|2020-04-21|Albany         |New York      |36001|704  |36    |1         |710                |0.9915492957746479   |355.0            |704              |
|2020-04-21|Albemarle      |Virginia      |51003|66   |3     |1         |66                 |1.0                  |66.0             |66               |
|2020-04-21|Alcona         |Michigan      |26001|3    |0     |1         |3                  |1.0                  |3.0              |3                |
|2020-04-21|Alcorn         |Mississippi   |28003|7    |0     |1         |7                  |1.0                  |7.0              |7                |
|2020-04-21|Alexander      |Illinois      |17003|2    |0     |2         |5                  |0.4                  |2.5              |3                |
|2020-04-21|Alexander      |North Carolina|37003|3    |0     |1         |5                  |0.6                  |2.5              |3                |
|2020-04-21|Alexandria city|Virginia      |51510|462  |9     |1         |462                |1.0                  |462.0            |462              |
|2020-04-21|Alfalfa        |Oklahoma      |40003|1    |0     |1         |1                  |1.0                  |1.0              |1                |
|2020-04-21|Allamakee      |Iowa          |19005|44   |3     |1         |44                 |1.0                  |44.0             |44               |
|2020-04-21|Allegan        |Michigan      |26005|47   |0     |1         |47                 |1.0                  |47.0             |47               |
|2020-04-21|Allegany       |New York      |36003|30   |0     |2         |86                 |0.3488372093023256   |43.0             |56               |
|2020-04-21|Allegany       |Maryland      |24001|56   |2     |1         |86                 |0.6511627906976745   |43.0             |56               |
|2020-04-21|Alleghany      |North Carolina|37005|2    |0     |2         |7                  |0.2857142857142857   |3.5              |5                |
|2020-04-21|Alleghany      |Virginia      |51005|5    |0     |1         |7                  |0.7142857142857143   |3.5              |5                |
|2020-04-21|Allegheny      |Pennsylvania  |42003|1059 |67    |1         |1059               |1.0                  |1059.0           |1059             |
|2020-04-21|Allen          |Kentucky      |21003|4    |0     |4         |507                |0.007889546351084813 |126.75           |336              |
|2020-04-21|Allen          |Louisiana     |22003|79   |9     |3         |507                |0.15581854043392504  |126.75           |336              |
|2020-04-21|Allen          |Ohio          |39003|88   |12    |2         |507                |0.17357001972386588  |126.75           |336              |
|2020-04-21|Allen          |Indiana       |18003|336  |22    |1         |507                |0.6627218934911243   |126.75           |336              |
|2020-04-21|Allendale      |South Carolina|45005|6    |0     |1         |6                  |1.0                  |6.0              |6                |
|2020-04-21|Alpena         |Michigan      |26007|35   |1     |1         |35                 |1.0                  |35.0             |35               |
|2020-04-21|Alpine         |California    |6003 |1    |0     |1         |1                  |1.0                  |1.0              |1                |
|2020-04-21|Amador         |California    |6005 |7    |0     |1         |7                  |1.0                  |7.0              |7                |
|2020-04-21|Amelia         |Virginia      |51007|15   |1     |1         |15                 |1.0                  |15.0             |15               |
+----------+---------------+--------------+-----+-----+------+----------+-------------------+---------------------+-----------------+-----------------+
only showing top 50 rows