In [7]:
import pyspark
from pyspark.sql import SQLContext
from pyspark import SparkContext
from pyspark.sql.functions import *

In [2]:
#讀檔案

data = sqlContext.read.format('com.databricks.spark.csv').options(header='true', 
inferschema='true').load('C://Users//user//Desktop//BigDataHW2//News_Final.csv')
data.show(5)

#取Title跟Headline的dataframe
data1 = data.select("Title", "Headline")
data1.show()

+-------+--------------------+--------------------+--------------------+-------+-------------------+------------------+-------------------+--------+----------+--------+
| IDLink|               Title|            Headline|              Source|  Topic|        PublishDate|    SentimentTitle|  SentimentHeadline|Facebook|GooglePlus|LinkedIn|
+-------+--------------------+--------------------+--------------------+-------+-------------------+------------------+-------------------+--------+----------+--------+
|99248.0|Obama Lays Wreath...|Obama Lays Wreath...|           USA TODAY|  obama|2002-04-02 00:00:00|                 0|-0.0533001790889026|      -1|        -1|      -1|
|10423.0|A Look at the Hea...|Tim Haywood, inve...|           Bloomberg|economy|2008-09-20 00:00:00| 0.208333333333333| -0.156385810542806|      -1|        -1|      -1|
|18828.0|Nouriel Roubini: ...|Nouriel Roubini, ...|           Bloomberg|economy|2012-01-28 00:00:00|-0.425210032135381|  0.139754248593737|      -1|        -1|      -1|
|27788.0|Finland GDP Expan...|Finland's economy...|            RTT News|economy|2015-03-01 00:06:00|                 0| 0.0260643017571343|      -1|        -1|      -1|
|27789.0|Tourism, govt spe...|Tourism and publi...|The Nation - Thai...|economy|2015-03-01 00:11:00|                 0|  0.141084456488315|      -1|        -1|      -1|
+-------+--------------------+--------------------+--------------------+-------+-------------------+------------------+-------------------+--------+----------+--------+
only showing top 5 rows

+--------------------+--------------------+
|               Title|            Headline|
+--------------------+--------------------+
|Obama Lays Wreath...|Obama Lays Wreath...|
|A Look at the Hea...|Tim Haywood, inve...|
|Nouriel Roubini: ...|Nouriel Roubini, ...|
|Finland GDP Expan...|Finland's economy...|
|Tourism, govt spe...|Tourism and publi...|
|Intellitec Soluti...|Over 100 attendee...|
| Monday, 29 Feb 2016|RAMALLAH, Februar...|
|Obama, stars pay ...|First lady Michel...|
|Fire claims more ...|A Hancock County ...|
|Microsoft's new W...|New Delhi, Feb.29...|
|Microsoft Project...|Microsoft may hav...|
|Microsoft sneaks ...|The platform batt...|
|Greek economy gro...|Greece's economy ...|
|Big data and the ...|Big data analytic...|
|HoloLens dev edit...|Microsoft’s AR he...|
|Microsoft Word fo...|What is A + B? We...|
|Microsoft Band 2 ...|The Microsoft Ban...|
|Microsoft prepare...|It seems that Mic...|
|Greek economy shr...|Greece's economy ...|
|Sweden's economy ...|Sweden's economy ...|
+--------------------+--------------------+
only showing top 20 rows

In [23]:
#第一題之不正確寫法

#Title
data1.groupBy("Title") \
    .count() \
    .orderBy(col("count").desc()) \
    .show()

#Headline
data1.groupBy("Headline") \
    .count() \
    .orderBy(col("count").desc()) \
    .show()

+--------------------+-----+
|               Title|count|
+--------------------+-----+
| Business Highlights|   37|
|After Palestine t...|   23|
|        ALSO IN News|   23|
|5 Things to Know ...|   19|
|Obama honors Conn...|   17|
|Indonesia leader ...|   16|
|Woman, 4 grandchi...|   15|
|Microsoft's secre...|   14|
|Obama praises Nan...|   13|
|Brexit vote adds ...|   13|
|The Latest: Flood...|   13|
|Prospects still s...|   13|
|Police identify P...|   12|
|Windows 10 releas...|   12|
|Obama wants $4B t...|   12|
|Obama says North ...|   12|
|Economy or first ...|   12|
|With HoloLens, Mi...|   12|
|Family of flood v...|   11|
|Missing from the ...|   11|
+--------------------+-----+
only showing top 20 rows

+--------------------+-----+
|            Headline|count|
+--------------------+-----+
|"""""""Microsoft ...|   21|
|Read full story f...|   18|
|                null|   15|
|The views express...|   13|
|President Obama o...|   11|
|BETHLEHEM, March ...|   11|
|The court is weig...|   11|
|The family of a P...|   10|
|In 2014, Palestin...|   10|
|The Creighton Eco...|    9|
|Police have ident...|    9|
|Lisa Asberry Davi...|    9|
|President Barack ...|    9|
|With fresh fricti...|    8|
|Boris Johnson's P...|    8|
|RAMALLAH, March 3...|    8|
|The subject was B...|    8|
|President Obama a...|    8|
|Ironically, Abbas...|    8|
|Protecting his si...|    8|
+--------------------+-----+
only showing top 20 rows

In [17]:
#第一題之較正確的寫法
from pyspark.sql.functions import explode, split, create_map, count, max, col

#先把四個Topic分開
df_oba = data.filter(data["Topic"] == "obama")
df_eco = data.filter(data["Topic"] == "economy")
df_mic = data.filter(data["Topic"] == "microsoft")
df_pal = data.filter(data["Topic"] == "palestine")

#obama topic
df_oba.select(col("Topic"), explode(split(df_oba.Title, " ")).alias('words')).groupBy("Topic", "words").count().orderBy(desc("Topic"), desc("count")).take(20)
df_oba.select(col("Topic"), explode(split(df_oba.Headline, " ")).alias('words')).groupBy("Topic", "words").count().orderBy(desc("Topic"), desc("count")).take(20)

[Row(Topic='obama', words='the', count=36647),
 Row(Topic='obama', words='to', count=23198),
 Row(Topic='obama', words='Obama', count=23075),
 Row(Topic='obama', words='President', count=17894),
 Row(Topic='obama', words='a', count=16574),
 Row(Topic='obama', words='of', count=16468),
 Row(Topic='obama', words='in', count=14016),
 Row(Topic='obama', words='Barack', count=12489),
 Row(Topic='obama', words='and', count=12358),
 Row(Topic='obama', words='on', count=10365),
 Row(Topic='obama', words='', count=7230),
 Row(Topic='obama', words='that', count=7082),
 Row(Topic='obama', words='his', count=7046),
 Row(Topic='obama', words='for', count=6924),
 Row(Topic='obama', words='is', count=5968),
 Row(Topic='obama', words='with', count=4956),
 Row(Topic='obama', words='at', count=4556),
 Row(Topic='obama', words='he', count=4222),
 Row(Topic='obama', words='The', count=4159),
 Row(Topic='obama', words='has', count=3924)]

In [18]:
#economy topic
df_eco.select(col("Topic"), explode(split(df_eco.Title, " ")).alias('words')).groupBy("Topic", "words").count().orderBy(desc("Topic"), desc("count")).take(20)
df_eco.select(col("Topic"), explode(split(df_eco.Headline, " ")).alias('words')).groupBy("Topic", "words").count().orderBy(desc("Topic"), desc("count")).take(20)

[Row(Topic='economy', words='the', count=53488),
 Row(Topic='economy', words='of', count=22255),
 Row(Topic='economy', words='to', count=21123),
 Row(Topic='economy', words='in', count=20289),
 Row(Topic='economy', words='a', count=18441),
 Row(Topic='economy', words='economy', count=17477),
 Row(Topic='economy', words='and', count=16680),
 Row(Topic='economy', words='is', count=10199),
 Row(Topic='economy', words='The', count=9376),
 Row(Topic='economy', words='on', count=8475),
 Row(Topic='economy', words='that', count=7385),
 Row(Topic='economy', words='for', count=7290),
 Row(Topic='economy', words='', count=7188),
 Row(Topic='economy', words='economic', count=6896),
 Row(Topic='economy', words='as', count=5749),
 Row(Topic='economy', words='has', count=5155),
 Row(Topic='economy', words='by', count=4945),
 Row(Topic='economy', words='at', count=4287),
 Row(Topic='economy', words='with', count=3833),
 Row(Topic='economy', words='from', count=3781)]

In [22]:
#microsoft topic
df_mic.select(col("Topic"), explode(split(df_mic.Title, " ")).alias('words')).groupBy("Topic", "words").count().orderBy(desc("Topic"), desc("count")).take(20)
df_mic.select(col("Topic"), explode(split(df_mic.Headline, " ")).alias('words')).groupBy("Topic", "words").count().orderBy(desc("Topic"), desc("count")).take(20)

[Row(Topic='microsoft', words='the', count=25306),
 Row(Topic='microsoft', words='Microsoft', count=18925),
 Row(Topic='microsoft', words='to', count=16881),
 Row(Topic='microsoft', words='a', count=14077),
 Row(Topic='microsoft', words='of', count=13308),
 Row(Topic='microsoft', words='and', count=12105),
 Row(Topic='microsoft', words='in', count=8599),
 Row(Topic='microsoft', words='for', count=7694),
 Row(Topic='microsoft', words='', count=7384),
 Row(Topic='microsoft', words='is', count=7369),
 Row(Topic='microsoft', words='that', count=6304),
 Row(Topic='microsoft', words='its', count=6126),
 Row(Topic='microsoft', words='on', count=6041),
 Row(Topic='microsoft', words='has', count=5891),
 Row(Topic='microsoft', words='with', count=4830),
 Row(Topic='microsoft', words='Windows', count=4507),
 Row(Topic='microsoft', words='The', count=3978),
 Row(Topic='microsoft', words='it', count=3903),
 Row(Topic='microsoft', words='new', count=3500),
 Row(Topic='microsoft', words="Microsoft's", count=3205)]

In [20]:
#palestine topic
df_pal.select(col("Topic"), explode(split(df_pal.Title, " ")).alias('words')).groupBy("Topic", "words").count().orderBy(desc("Topic"), desc("count")).take(20)
df_pal.select(col("Topic"), explode(split(df_pal.Headline, " ")).alias('words')).groupBy("Topic", "words").count().orderBy(desc("Topic"), desc("count")).take(20)

[Row(Topic='palestine', words='the', count=11566),
 Row(Topic='palestine', words='of', count=6807),
 Row(Topic='palestine', words='to', count=5153),
 Row(Topic='palestine', words='a', count=5092),
 Row(Topic='palestine', words='in', count=4994),
 Row(Topic='palestine', words='and', count=4264),
 Row(Topic='palestine', words='Palestinian', count=3230),
 Row(Topic='palestine', words='Palestine', count=3154),
 Row(Topic='palestine', words='on', count=2449),
 Row(Topic='palestine', words='', count=2319),
 Row(Topic='palestine', words='for', count=2189),
 Row(Topic='palestine', words='The', count=2028),
 Row(Topic='palestine', words='is', count=1566),
 Row(Topic='palestine', words='that', count=1451),
 Row(Topic='palestine', words='has', count=1288),
 Row(Topic='palestine', words='with', count=1211),
 Row(Topic='palestine', words='at', count=1202),
 Row(Topic='palestine', words='by', count=1172),
 Row(Topic='palestine', words='Israeli', count=1115),
 Row(Topic='palestine', words='was', count=1025)]

In [13]:
#第二題 
from functools import reduce

data_dir = "C://Users//user//Desktop//BigDataHW2//"

topics_name = ["Economy", "Microsoft", "Obama", "Palestine"]
platforms_name = ["Facebook", "GooglePlus", "LinkedIn"]
paths = [list(map(lambda x: data_dir + platform + "_" + x + ".csv", topics_name)) for platform in platforms_name]

dfs = [list(map(lambda x: spark.read.format('com.databricks.spark.csv').options(header='true', inferschema='true').load(x), path)) for path in paths]

dfs = [reduce(DataFrame.union, platform_df) for platform_df in dfs]

k = 60 // 20
dfs_hours = [df.select(col("IDLink"), *[(reduce(lambda x, y: x + y, [col(df.columns[j]) for j in range(1+k*i, 1+k*i+k)])/k).alias(f"hour{i}") for i in range(0, len(df.columns)//k)]) for df in dfs]

k = 24 * 60 // 20
dfs_days = [df.select(col("IDLink"), *[(reduce(lambda x, y: x + y, [col(df.columns[j]) for j in range(1+k*i, 1+k*i+k)])/k).alias(f"day{i}") for i in range(0, len(df.columns)//k)]) for df in dfs]

In [26]:
#第三題

data2 = data.select("Topic", "SentimentTitle", "SentimentHeadline")


#obama
sentiment_score_oba = data2.filter(data2["Topic"] == "obama").select("Topic", "SentimentTitle","SentimentHeadline")
sentiment_score_oba.groupby("Topic").agg(sum("SentimentTitle"), mean("SentimentTitle"), sum("SentimentHeadline"), mean("SentimentHeadline")).show()

#economy
sentiment_score_eco = data2.filter(data2["Topic"] == "economy").select("Topic", "SentimentTitle","SentimentHeadline")
sentiment_score_eco.groupby("Topic").agg(sum("SentimentTitle"), mean("SentimentTitle"), sum("SentimentHeadline"), mean("SentimentHeadline")).show()

#microsoft
sentiment_score_mic = data2.filter(data2["Topic"] == "microsoft").select("Topic", "SentimentTitle","SentimentHeadline")
sentiment_score_mic.groupby("Topic").agg(sum("SentimentTitle"), mean("SentimentTitle"), sum("SentimentHeadline"), mean("SentimentHeadline")).show()

#palestine
sentiment_score_pal = data2.filter(data2["Topic"] == "palestine").select("Topic", "SentimentTitle","SentimentHeadline")
sentiment_score_pal.groupby("Topic").agg(sum("SentimentTitle"), mean("SentimentTitle"), sum("SentimentHeadline"), mean("SentimentHeadline")).show()

+-----+-------------------+--------------------+----------------------+----------------------+
|Topic|sum(SentimentTitle)| avg(SentimentTitle)|sum(SentimentHeadline)|avg(SentimentHeadline)|
+-----+-------------------+--------------------+----------------------+----------------------+
|obama|-15.743686315455108|-5.81484259111915...|    -481.8388358106591|  -0.01779644822938...|
+-----+-------------------+--------------------+----------------------+----------------------+

+-------+-------------------+--------------------+----------------------+----------------------+
|  Topic|sum(SentimentTitle)| avg(SentimentTitle)|sum(SentimentHeadline)|avg(SentimentHeadline)|
+-------+-------------------+--------------------+----------------------+----------------------+
|economy|  -336.937004437336|-0.01047591967283...|   -1271.3909442082143|  -0.03952961304008377|
+-------+-------------------+--------------------+----------------------+----------------------+

+---------+-------------------+--------------------+----------------------+----------------------+
|    Topic|sum(SentimentTitle)| avg(SentimentTitle)|sum(SentimentHeadline)|avg(SentimentHeadline)|
+---------+-------------------+--------------------+----------------------+----------------------+
|microsoft|  49.43849052234941|0.002310425765134...|   -318.81900083681893|  -0.01489947662570...|
+---------+-------------------+--------------------+----------------------+----------------------+

+---------+-------------------+--------------------+----------------------+----------------------+
|    Topic|sum(SentimentTitle)| avg(SentimentTitle)|sum(SentimentHeadline)|avg(SentimentHeadline)|
+---------+-------------------+--------------------+----------------------+----------------------+
|palestine|-164.48440896913763|-0.01986526678371...|   -363.16995277671003|  -0.04386110540781...|
+---------+-------------------+--------------------+----------------------+----------------------+

In [ ]:
#第四題